# ignore working files for nvim
/.config/nvim/autoload/
/.config/nvim/swap/*
/.config/nvim/backup/*

# ignore working files for vanilla vim
/home/.vim_temp/*

# ignore files for git aware prompt
/home/.bash/*

# ignore archive
/archive/

# other ignores
.DS_Store

# keep these files
!.keep
