[user]
	name = George Groh
	email = george.groh@gmail.com
[alias]
	co = checkout
	st = status
	ci = commit
  br = branch
  nuke = !sh -c 'git branch -D $1 && git push origin :$1'
  bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v \"${1-master}\\|production\" | xargs git branch -d; }; f"
